:root {
  --light-1: #70757a;
  --light-2: #eeeaf2;
  --blue-soft: #223143;

  --yellow: #eecc75;
  --green: #cad297;
  --aqua: #b7eac5;
  --lightBlue: #a2eee5;
  --darkBlue: #8ea2ea;
  --red: #f09d9d;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1a191f;
}
html {
  font-size: 62.5%;
  font-family: "Dosis";
}

header {
  width: 100%;
  height: auto;
  position: relative;
}
.nav {
  display: flex;
  width: 100%;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  color: white;
  position: absolute;
  z-index: 1;
}
.menu {
  display: none;
}
.nav-title {
  font-size: 3rem;
  padding-left: 50px;
}
.nav-option {
  display: flex;
  width: 340px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.nav-option ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.nav-option ul li a {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
.nav-option ul li a:hover {
  text-decoration: underline;
}
.nav-categorie {
  position: absolute;
  width: 235px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  animation: deploy 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.nav-categorie div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-category {
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
}
.title-category:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -14px;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  transform: translateY(-50%);
}

.nav-search-container {
  display: flex;
  width: 200px;
  justify-content: end;
  align-items: center;
  margin-right: 12px;
}
.nav-search {
  border-radius: 8px;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  height: 20px;
  position: relative;
}
.icon-tabler-search {
  color: white;
  width: 20px;
  height: 20px;
}
.nav-btn {
  background-color: black;
  border: none;
  border-radius: 4px;
  height: 24px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel,
.desciption-thumbnail {
  width: 100%;
  height: 600px;
  position: relative;
  top: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0px 8px 8px 0px rgba(112, 117, 122, 0.18);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.35) 100%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: -2;
}
.slide-informacion {
  width: 500px;
  position: relative;
  top: -350px;
  left: 50px;
}
.slide-informacion h2 {
  font-size: 5rem;
  margin: 0;
}
.slide-informacion p {
  font-size: 2.4rem;
}
.slide {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.35) 100%,
    rgba(0, 0, 0, 0) 100%
  );
}
.carousel .slide img,
.desciption-thumbnail img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
  object-fit: cover;
}
.movie-container--loading {
  background: var(--light-1);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  animation: loading-skeleton infinite 1.5s;
}
.movie-container--loading:nth-child(2) {
  animation-delay: 0.2s;
}
.movie-container--loading:nth-child(3) {
  animation-delay: 0.4s;
}
.movie-container--loading:nth-child(4) {
  animation-delay: 0.4s;
}
.movie-container--loading:nth-child(5) {
  animation-delay: 0.4s;
}

.home,
.search,
.categories,
.trends,
.favorites {
  width: 90%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.desciption {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-title,
.search-title,
.category-title,
.trends-title,
.desciption-title,
.favorites-title {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  margin-left: 0;
}
.btn-more {
  background-color: white;
  color: black;
  border-radius: 8px;
  font-size: 2rem;
  font-family: "Dosis";
  margin-right: 40px;
  cursor: pointer;
}
.btn-more:hover {
  text-decoration: underline;
}
.home-title h2,
.search-title h2,
.category-title h2,
.trends-title h2,
.favorites-title h2,
footer h2 {
  color: white;
  font-size: 3rem;
  text-align: start;
}
.movies-home,
.search-result,
.categories-result,
.movies-trends,
.movies-favorites {
  width: 100%;
  display: grid;
  grid-auto-rows: 330px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 230px));
  gap: 12px;
  margin-left: 12px;
}
.movies-favorites {
  margin: 12px 12px;
}
.favorites-conatiner {
  width: 100%;
  min-height: 360px;
  max-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 8px 8px 0px rgba(112, 117, 122, 0.18);
  margin-bottom: 80px;
}
.movie-card {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  animation: loading 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.movie-card span {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--blue-soft);
}
.like {
  fill: gold;
}
.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.desciption-container {
  width: 100%;
  background-color: white;
}

.desciption-title h2,
.related-title h2 {
  font-size: 4rem;
  margin-left: 12px;
}
.punctuation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-right: 12px;
}
.icon-tabler-star-filled {
  color: gold;
}
.punctuation-number {
  font-size: 4rem;
}
.desciption-text {
  font-size: 3rem;
  margin-left: 12px;
}
.desciption-genders {
  width: 90%;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  font-size: 2.5rem;
  border-radius: 4px;
  margin: 0 12px 150px;
}
.desciption-genders div {
  display: grid;
  place-content: star;
}
.desciption-genders div h3:hover {
  text-decoration: underline;
}

.related {
  width: 100%;
}
.related-movies {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 241px;
  padding-left: 20px;
  padding-bottom: 16px;
  position: relative;
}
.related-card {
  display: inline-block;
  width: 150px;
  height: 225px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  margin-right: 8px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.35) 100%,
    rgba(0, 0, 0, 0) 100%
  );
}
.related-card img {
  width: 100%;
  height: 100%;
}
.related-card span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 0;
  border-radius: 50%;
  background-color: #090911;
}
footer {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -10px 5px 0px rgba(112, 117, 122, 0.18);
}

.inactive {
  display: none;
}
@keyframes loading-skeleton {
  0%,
  100% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}

@keyframes slide-in-right {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 140px;
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}
@keyframes deploy {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 300px;
    opacity: 1;
  }
}
